:root{
    --white-color: #fff;
    --black-color:#000000;
    --primary-grey: #333852;
    --secondary-grey: #b6bcc1;
    --tertiary-grey: #D7DADD;
    --quaternary-grey: #E6E7E8;
    --comunity-blue: #4798ED;
    --comunity-green: #59B563;
    --comunity-orange: #FF5924;
    --comunity-red: #FF0000;
    --comunity-light-orange: #FFA61F;
    --comunity-purple: #6E2463;
    --header-font: 'Comfortaa', sans-serif;
    --font-family: 'Montserrat', sans-serif; /* Define a variable for the font family */
    --header-font-size: 40pt; /* Define a variable for the font size */
    --font-size: 16px; 
    --kerning: 2px;
    --header-kerning: 10px;
    --subheader-kerning: 3px;
    

}

.html {
    scroll-behavior: smooth;
    background-color: var(--quaternary-grey);
    width: 100%;
}

body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    white-space: nowrap;
}

div{
    color: var(--primary-grey);
}

body {
    width: 100%;
    overflow-x: hidden;
    background-color: var(--quaternary-grey);
    
    padding: 0;
    margin: 0;
    position: relative; /* Add this line */
}
.main {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    /* background-color: #fff; */
    /* border: 1px solid #ddd;
    border-radius: 4px; */
    margin:  auto;
    /* max-width:1400px; */
    padding: 10px 20px;
    width: 80%;
}
.main2 {
    display: flex;
    gap: 20px;
    justify-content: space-between; 
    margin:  30px auto;
    padding: 10px 20px;
    width: 80%;
}
.main-left{
    width: 65%; 
    margin-top: 100px;
}
.main-left2{
    width: 100%; 
    
}
.main-left3{
    width: 50%; 
    margin-top: 100px;
}

.topHeader {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-family: var(--font-family);
    font-size: 10px;
    height: 100px;
    position:sticky;
    top: 0;
    background: rgba(255, 255, 255, 0.95);
    margin-bottom: 100;
    min-width: 100%;
    width: 100%;
}

#formInput {
    width: 100%;
    margin: 0;
    height: 25px;
}

/* Style for the navigation menu */
.topHeader nav  ul {
    list-style: none;
    padding-right: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500; /* Medium font weight */
    display: flex;
    gap: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 4px;
    font-size: 15pt;
    font-weight: 600;
    padding: 0;
}

.topHeader nav li {
   
    margin-right: 20px;
}

/* Style for unvisited links */
.topHeader nav a {
    text-decoration: none;
    color: #333;
    font-weight: normal; /* Set the default font weight */
}

/* Style for visited links */
nav a:visited {
    font-weight: bold; /* Make visited links bold */
}

.comunityLogo{
    flex-grow: 4; 
    margin-left: 100px;
    width: auto;
}

.svgStyle{
    flex-grow: 1; 
    margin-top: 15px;
    width: 20px;
}
.getStarted{
    margin-left: 20px; 
    margin-bottom:30px
    
}
.hamBurger{
    flex-grow: 1; 
    margin-top: 10px; 
    margin-right: 80px;
}

.button{
    background-color:#333852 ;
    /* border: 1px solid #fff; */
    margin: 10px;
    /* margin-left: 10px; */
    border: none;
    border-radius: 3px;
    width: 180px;
    height: 50px;
    font-family: var(--font-family); 
    letter-spacing: var(--kerning);
    font-size: 14pt;
    line-height: 1.6;
    color: var(--white-color);
    /* padding: 30px;
    border-radius: 4px; */
    cursor: pointer;
    &:hover{
        background-color: var(--comunity-blue);
        color: var(--white-color);
    }
}

.heading{
    display: flex;
    flex-direction: column;
    font-family: var(--header-font);
    letter-spacing: var(--header-kerning);
    color: #333842;
    gap: 20px;
    /* font-size: 40pt; */
    font-size: var(--header-font-size);
    line-height: 1.3;
    justify-content: space-between;

    border-radius: 4px;
    margin: 10 10px 10px 0;
    max-width:1400px;

    
}

.subheading {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    font-weight: 500; /* Medium font weight */
    letter-spacing: var(--subheader-kerning);
    color: #333842;
    margin-top: 0;
    /* gap: 20px; */
    
    font-size: 20pt;
    line-height: 1.3;
    justify-content: space-between;
    /* background-color: #fff; */
    /* border: 1px solid #ddd; */
    border-radius: 4px;
    /* margin: 10px 10px 30px 0; */
    /* max-width:1400px; */
    padding: 10px 0;
    width: 100%;
}

.flexSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    gap: 20px;
    font-family: var(--font-family);
    font-size: 12pt;
    line-height: 1.8;
    color: #7a858f;
    
    margin: 0 10px 10px;
    /* max-width:1400px; */
    width: 80%;
}
.oneCard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    gap: 2px;
    font-family: var(--font-family);
    font-size: 12pt;
    line-height: 1.8;
    color: #7a858f;
    width: 100%;
    margin: 70px auto 0px; 
    padding-bottom: 0;
    letter-spacing: 3px; 
   
}
.fourCards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    gap: 10px;
    font-family: var(--font-family);
    background-color: none;
    font-size: 10pt;
    line-height: 1.8;
    color: #7a858f;
    width: 100%;
    margin: auto; 
    letter-spacing: 5px; 
   
}
.flexSection2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 20px;
    font-family: var(--font-family);
    font-size: 12pt;
    line-height: 1.8;
    color: #7a858f;
    padding: 8%;
    margin: 20px;
    margin-top: 0;
    /* max-width:1400px; */
    
}

.oneCardItem {
     padding: 40px;
     font-family: var(--header-font);
     color: #333842;
     box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
     text-transform: uppercase;
    font-weight: 600;
    background-color: var(--quaternary-grey); 
    font-size: var(--header-font-size); 
    letter-spacing: var(--header-kerning);
    flex-shrink: 1;
    border-radius: 5px;
    width: 100%; 
    /* font-size: 40pt;  */
    margin: 20px auto


}
.fourCardsItem {
     padding: 40px;
     font-family: 'Comfortaa', sans-serif;
     color: #333842;
     box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
     
     text-transform: uppercase;
    font-weight: 600;

    background-color: #e6e7e8; 
    border-radius: 5px;
    font-size: 2vw; 
    flex-shrink: 1;

}
.platformCards {
     background-color: #d7dadd;
     /* width: 100%; */
     padding: 40px;
     font-family: 'Comfortaa', sans-serif;
     color: #333842;
     box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
     font-size: 40px;
     text-transform: uppercase;
    font-weight: 600;

}
.platformCardsFirst {
     width: 100%;
     font-family: 'Comfortaa', sans-serif;
     color: #333842;
     box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
     text-transform: uppercase;
    font-weight: 600;
    font-size: 60px; 
    padding: 10px; 
    margin: auto; 
    background-color: #e6e7e8; 
    letter-spacing: 10px;

}
.platformCards2 {
    
     height: 250px;
     width: 30%;
     padding: 30px;
     font-family: var(--header-font);
     color: var(--white-color);
     background-color: var(--primary-grey);
     box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
     border-radius: 4px;
     font-size: 60px;
     text-align: center;
     text-transform: uppercase;
    font-weight: 600;

}
 
.platformCards2 p{
    margin: auto;
    text-align: center;
     height: 10px;
     font-weight: 600;
     color: var(--quaternary-grey);
     letter-spacing: var(--subheader-kerning); 
     text-transform:none; 
     font-size: 18pt; 
     font-weight: 500;
}

.para{
    background-color: #fff;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif; /* Use Montserrat as the font */
       font-size: 14pt;
       letter-spacing: 1px;
    line-height: 1.6;
    color: var(--primary-grey);
    padding: 20px 20px 20px 20px;
    /* margin: 0 10px 10px; */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 6px 6px;
}


.para-2{
    font-family: var(--font-family);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 6px 6px;
    border-radius: 4px;
    font-size: 12pt;
    line-height: 1.8;
    color: var(--primary-grey);
    width: 50%; 
    padding: 0; 
    padding-right: 20px;  
}
.para-3{
    font-family: var(--font-family);
    font-size: 12pt;
    line-height: 1.8;
    color: var(--primary-grey);
    padding: 0; 
    padding-right: 20px;  
    width: 100%; 
    padding: 0; 
    text-align: justify;
    text-justify: inter-word;
}

.technicalPagePara{
    font-family: var(--font-family);
    color: var(--primary-grey);
    border-radius: 4px;
    font-size: 12pt;
    line-height: 1.8;
    width: 50%; 
    padding: 0; 
    padding-right: 20px; 
}

hr{
    border: none;
            height: 5px;
            width: 160px;
            background-color: #ffffff;
            margin: 1px 100px 10px 70px;
}

.listed{
    background-color: #fff;
    border: 1px solid #fff;
    font-family: var(--font-family);
    font-size: 12pt;
    line-height: 1.8;
    padding: 30px;
    color:  var(--primary-grey); 
    width: 50%; 
    font-size: 12pt; 
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 6px 6px; 
}
.getStartedListed{
    background-color: #fff;
    border: 1px solid #fff;
    font-family: var(--font-family);
    font-size: 12pt;
    line-height: 1.8;
    padding: 30px;
    color:  var(--primary-grey); 
    width: 100%; 
    font-size: 12pt; 
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 6px 6px; 
}

.techNicalListed{
    background-color: #fff;
    border: 1px solid #fff;
    font-family: var(--font-family);
    font-size: 12pt;
    line-height: 1.8;
    padding: 30px;
    color:  var(--primary-grey); 
    width: 40%; 
    font-size: 12pt; 
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 6px 6px; 
}

.cards{
   display: flex;
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
    border-radius: 4px;
    width: 100%;
}

.cards div{
    color: #ffffff;
}

.item {
    flex: 33%; /* 33.33% width with some margin */
}

.cardItem{
    display: flex;
    flex-direction: column;
    gap: 0px;
    height: 300px;
    background-color: var(--tertiary-grey);
    justify-content: space-between;
    border: 5px solid var(--quaternary-grey);
    /* border-radius: 4px; */
    margin: 0 auto;
    color: var(--primary-grey);
   
    padding: 10px 20px;
    max-width: 100%;
    width: auto;
    &:hover{
        background-color: var(--quaternary-grey);
        border: 5px solid var(--quaternary-grey);
    }
}

.cardItemCopy{
    margin: auto;
    margin-top: 10px;
    font-size: 26px; 
    color: var(--primary-grey);
}
.cardItem2{
    display: flex; 
    flex-direction: row;
     width: 100%; 
     height: 300px; 
     padding: 20px; 
     background-color: #d7dadd; 
     border: solid 5px #e6e7e8; 
     gap: 0px;
    
    margin: 0 auto;
    &:hover{
        background-color: #ddd;
        border: solid 5px #e6e7e8; 
    }
}
.cardItemWhyUs{
    display: flex; 
    flex-direction: row;
    width: 100%; 
    padding: 0; 
    height: 280px;
     padding: 20px; 
     background-color: #d7dadd; 
     border: solid 5px #e6e7e8; 
     gap: 0px;
    margin: 0 auto;
    &:hover{
        background-color: #ddd;
        border: solid 5px #e6e7e8; 
    }
    
}

.mobileImages{
    max-width: 100%;
    height: auto;
}

.cardItem_logos{
    display: flex;
    flex-direction: column;
    gap: 0px;
    height: 200px;
    justify-content: space-between;
    background-color: #fff;
    border: 2px solid #ddd;
    /* border-radius: 4px; */
    margin: 0 auto;
    max-width:1400px;
    padding: 10px 20px;
    width: 100%;
   
}

.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sectionOne-image{
    height: 100%;
    object-fit: cover;
    width: 50%; 
    margin-left:10px
}
p{
    font-family: 'Comfortaa', sans-serif;
    /* margin: 5px 0; */
    margin-top: 30px;
    text-align: left;
    color: var(--primary-grey);
    
}

p span{
    font-family: 'Comfortaa', sans-serif;
    /* margin: 5px 0; */
    text-align: center;
    color: var(--primary-grey);
    margin:   auto;
    font-size: 30pt;
    font-weight: 600;
}

.getStartedContainer{
    display: flex; 
    width: 100%; 
    gap: 60px; 
    margin-top: 50px;
}


footer {
    background-color: #ffffff; /* Set background color for the footer */
    color: #fff; /* Set text color for the footer */
    text-align: center; /* Center-align the content in the footer */
    padding:0 0; /* Add some padding to the top and bottom of the footer */
}

footer::before {
    content: "";
    display: block;
    margin:auto;
    width:100%;
    height: 10px; /* Adjust the height of the line as needed */
    background: linear-gradient(to right, #FFA61F 0%, #FFA61F 17%,  #FF5924 17%, #FF5924 34%, #FF0000 34%, #FF0000 51%, #6E2463 51%, #6E2463 68%,#4798ED 68%, #4798ED 85%, #59B563 85%, #59B563 100% );
}

.gradient {
    width: 100%;
    height: 200px;
    background: linear-gradient(to right, #ff0000 0%, #ff0000 33%, #FF5924 33%, #FF5924 66%, #0000ff 66%, #0000ff 100%);
  }
 
  img {
    max-width: 100%;
    height: auto;
}
  .wave-image {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 3;
}
  .footer-menu {
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 20px;
    font-family: var(--font-family);
    font-size: 10px;
    /* margin-right: 40px; */
    padding: 80px 0px 40px 50px; 
}
  .footer-menu2 {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 30px;
    font-family: var(--font-family);
    font-size: 12px;
    left: 0;
    bottom: 0;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-right:100px ;
    width: 100%;
}

.footer-menu div{
    display: flex;
    gap: 30px;
    font-family: var(--font-family);
    font-size: 24px;
    color:  var(--primary-grey);
    cursor: pointer;
    &:hover{
        color: var(--primary-grey);
        font-weight: 500;
    }
}


.logo-animation{
    width: 100px;
    height: auto;
    /* height: 100px; */
    animation: scroll 20s linear infinite;
}

  
  .slide-track {
    background-color: #fff;
    padding: 15px 0;
    width: 100%;
    display: flex;
    gap: 3em;
    overflow: hidden;
  }
  
  .slider {
    height: 60px;
    background-color:#fff;
   
  }
  
  @keyframes scroll {
    0% {transform: translateX(0);}
    100% {transform: translatex(-3450%)}
  }

.logo {
    display: inline-block;
    padding: 10px;
    width: 100px;
}

.logo img {
    max-width: 100%;
}



@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

#hold_logos {
    height: 200px;
    background: #fff;
    display: flex;
    align-items: center;
    margin-top: 100px;
  }
  

  #formInput{
    width: 100%;
  }

  #formTextarea{
    width: 100%;
  }

 
.flip-container {
    perspective: 1000px;
    width: 90%;
    margin: auto;
}

.flip-card {
    width: 100%;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.flip-card:hover {
    transform: rotateY(180deg);
}

.flip-front,
.flip-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.flip-front {
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px;
}

.flip-back {
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px;
    transform: rotateY(180deg);
}

.menu-icon {
    width: 100%;
    display: flex;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.sectionTwo{
    background-image: url('./pebbles2.png'); 
    background-size: cover; 
    height: 510px;
}

.makesUsDifferent{
    display: flex; 
    flex-direction: row; 
    gap: 10;
}

.businessMain{
    display: flex; 
    width: 100%; 
    gap: 20px;
}

.businessGraphic{
    
    display: flex;
    justify-content: left;
    margin-left: 10px;
    margin-top: -90px;
    position: relative;
    margin-bottom: 50px;
    width: 50%;
    z-index: -10;
}
.technicalPageBody{
    display: flex; 
    width: 100%; 
    gap: 20px;
}
.brain{
    float: right; 
    width: 55%;
    margin: 0px 20px 10px 0; 
    margin-top: -80px; 
    margin-right: -20px; 
    position: relative;
}
.whyUsHeader{
    width: 100%;
    font-family: var(--header-font);
    color: var(--primary-grey);
    font-size: 32px;
    text-transform: uppercase;
   font-weight: 600; 
   margin-top: 20px; 
   margin-bottom: 10px; 
   letter-spacing: 5px;
}
.whyUsSubHeader{
    font-family: var(--font-family);
    white-space: nowrap;
    font-size: 20pt;
    line-height: 1.2;
    text-decoration: underline;
    text-underline-offset: 18px;
    color: var(--primary-grey);
    font-weight: 500;
    letter-spacing: var(--kerning);
}
.whyUsParagraph{
    margin-top: 20px; 
    line-height: 1.8; 
    padding-right: 10px; 
    color: var(--primary-grey); 
    font-family: var(--font-family); 
    font-size: 18px;
}

.navBarItems{
    width: 55%; 
    margin-top: 60px; 
    margin: auto; 
    margin-left:10px; 
    margin-right: 50px;
}

.menuItems{
    margin-right: 50px; 
    height: 100px; 
    width: 25%;
}
/* @media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        background-color: #070707;
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
    }

    .menu.show {
        display: flex;
    }

    .menu.active {
        display: block;
        max-width: 100%;
        width: auto;
        background-color: #d7dadd;
        color: #000000;
        text-align: right;
        font-size: 10pt;
        padding: 30px;
        z-index: 10;
        position: relative;
        transform: translateY(-90px); 
      }
      
      .menu.active::after {
        content: '';
        position: absolute;
        bottom: 0;
        padding: 0;
        left: 0;
        width: 100%;
        height: 6px; 
        background: linear-gradient(to right, #FFA61F 0%, #FFA61F 17%, #FF5924 17%, #FF5924 34%, #FF0000 34%, #FF0000 51%, #6E2463 51%, #6E2463 68%, #4798ED 68%, #4798ED 85%, #59B563 85%, #59B563 100%);
      }
      
      .menu.active:hover {
        color: white;
      }
      
      
    .topHeader nav  ul{
        display: none;
    }
    .menu-icon {  
        display: flex;
        width: 768px;
        padding: 10px;
        justify-content: space-around;
    }
    
    .main{
        flex-direction: column-reverse;
        padding: 0;
    }
    .main-left{
        width: 100%;
        margin-top: 2px;
    }
    .heading{
        padding: 5px;
        font-size: 24pt;
        letter-spacing: 6px;
    }
    .subheading{
        font-size: 15pt;
    }
    .sectionOne-image{
        width: 100%;
    }
    .flexSection2{
        flex-direction: column;
        height: 700px;
    }
    .cardItem{
        flex: 0 0 calc(50% - 20px);
    }
    .item {
        flex: 0 0 calc(50% - 20px); 
    }
    p span{
        font-size: 20pt;
    }
    .cardItemCopy{
        font-size: 18px; 
    }
    .sectionTwo{
        height: 800px;
    }
    .platformCards2{
        margin: auto;
    }
    .footer-menu{
        flex-direction: column;
    }
    .platformCards{
        font-size: 30px;
        padding: 10px;
        letter-spacing: 1px;
    }
    .platformCardsFirst{
        font-size: 35px;
        padding: 10px;
        letter-spacing: 1px;
    }
    .svgStyle{
        width: 150px;
        margin-top: 12px;
    }
} */

@media (max-width: 768px) {
    body, html {
        padding: 0;
        margin: 0;
    }

    .menu {
        display: none;
        flex-direction: column;
        background-color: var(--primary-grey);
        position: absolute;
        width: 100%;
        overflow: hidden;
        top: 100px;
        left: 0;
    }

    .menu.show {
        display: flex;
    }
    

    .menu.active {
        display: block;
        max-width: 100%;
        width: auto;
        width:90%;
        background-color: #d7dadd; /* Change to a readable background color */
        color: var(--primary-grey);
        font-size: 32pt;
        text-align: right;
        font-size: 10pt;
        padding: 30px;
        z-index: 10;
    }

    .menu.active::after {
        content: '';
        position: absolute;
        bottom: 0;
        padding: 0;
        left: 0;
        width: 100%;
        height: 6px; 
        background: linear-gradient(to right, #FFA61F 0%, #FFA61F 17%, #FF5924 17%, #FF5924 34%, #FF0000 34%, #FF0000 51%, #6E2463 51%, #6E2463 68%, #4798ED 68%, #4798ED 85%, #59B563 85%, #59B563 100%);
      }

      .menu.active:hover {
        color: var(--primary-grey);
      }
      

    .topHeader nav ul {
        display: none;
    }

    .topHeader nav li {
        margin-right: 20px;
        font-size: 15pt;
        padding: 5px;
    }

    .menu-icon {
        display: flex;
        width: 100%; /* Set to 100% to fill the screen width */
        margin-top: 20px;
        padding: 10px;
        justify-content: space-around;
    }

    .main {
        flex-direction: column-reverse;
        padding: 0;
    }

    .main-left {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .main2 {
        flex-direction: row;
        gap: 1px;
    }

    .heading {
        padding: 10px 10px 5px 0;
        font-size: 18pt;
        letter-spacing: 2px;
    }

    .subheading {
        font-size: 14pt;
        letter-spacing: 2px;
    }

    .sectionOne-image {
        width: 100%;
    }

    .flexSection2 {
        flex-direction: column;
        height: 700px;
        margin: auto;
    margin-right: 25px;
    }

    .cardItem {
        flex: 0 0 calc(50% - 20px);
    }

    .item {
        flex: 0 0 calc(50% - 20px);
        min-width: 50%;
        width: auto;
    }

    p span {
        font-size: 20pt;
    }

    .cardItemCopy {
        font-size: 18px;
    }

    .sectionTwo {
        height: 800px;
    }

    .platformCards2 {
        margin: auto;
        width: 90%;
    }

    .platformCards2 p{
        font-size: 16pt;
    }
    .footer-menu {
        flex-direction: column;

        margin:  40px auto;

        font-size: 14px;
        gap: 10px;
        padding: 10px;
    }

    .platformCards {
        font-size: 30px;
        padding: 10px;
        letter-spacing: 1px;
    }

    .platformCardsFirst {
        font-size: 35px;
        padding: 10px;
        letter-spacing: 1px;
    }

    .getStarted {
        margin-bottom: 30px;
        margin-left: 2px;
        font-size: 12pt;
        padding: 0;
        white-space: nowrap;
    }

    .svgStyle {
        width: 150px;
        margin-top: 1px;
        margin-left: 12%;
    }
    .para{
        margin: 0;
    }
    .makesUsDifferent{
        flex-direction: row;
        gap: 1px;
    }
    .cardItem{
        padding: 0;
    }
    .cardItemCopy{
        margin: 20px 10px;
        text-align: center;
    }
    .cards{
        flex-direction: column;
        width: 90%;
        margin: auto;
        gap: 0;
    }
    .fourCards{
        margin: auto;
        flex-direction: column;
        width: 100%;
       
       
    }
    .oneCardItem{
    font-size: 26pt;
    padding: 10px;
    width: 90%;
    margin: auto;
    }
    .fourCardsItem{
    font-size: 16pt;
    padding: 10px;
    width: 90%;
    margin: auto;
    }
    .businessMain{
        flex-direction: column;
        width: 100%;
    }
    .para-2{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .listed{
        width: 87%;
        padding-left: 15px;
        margin: 0;
    }
    .businessGraphic{
        display: flex;
        justify-content: center;
        margin: 30px auto;
        position: relative;
        margin-bottom: 50px;
        width: 80%;
        z-index: 1;
    }
    .cardItemWhyUs{
        flex-direction: column;
        width: 80%; 
        margin: 0;
    }
    .getStartedContainer{
        flex-direction: column; 
        width: 100%; 
        margin-top: 50px;
    }
    #formInput {
    width: 95%;
    
}
   .technicalPageBody{
    flex-direction: column;
    width: 100%;
   }
   .techNicalListed{
    width: 84%;
   }
   .technicalPagePara{
    width: 100%;
   }
   .brain{
    float: center; 
    width: 80%;
    margin: 5px;  
}
   .getStartedListed{
    width: 85%;
   }
   .navBarItems{
    width: 100%; 
    margin-top: 60px; 
    margin: auto; 
    margin-left:10px; 
    margin-right: 50px;
   }
   .mobileImages{
    max-width: 25%;
    height: auto;
    margin-top: 50px;
}
.main-left3{
    width: 100%; 
    margin: auto;
    margin-top: 100px;
}
#formTextarea {
    width: 95%;
}
.whyUsHeader{
    font-size: 20px;
}
.whyUsSubHeader{
    font-size: 16px;
    text-underline-offset: 12px;
   
}
.cardItemWhyUs{
    height: 300px;
    margin: auto;
    width: 90%;
    letter-spacing: 2px;
}
.whyUsParagraph{
    margin-top: 20px; 
    line-height: 1.5; 
    padding-right: 10px; 
    color: var(--primary-grey); 
    font-family: var(--font-family); 
    font-size: 14px;
}


}
